body{
    background-color: #033344;
}
#Father{
    padding: 25px;
    color: gainsboro;
    font-family: Arial;
    font-weight: lighter;
}

#Father > h1{
    font-size : 20px;
}

#Father > input{
    background-color: #033555;
    border-color : black;
    color: gainsboro;
}