body{
    background-color: #033344;
}
#Father{
    padding: 25px;
    color: gainsboro;
    font-family: Arial;
    font-weight: lighter;
}

#Father > h1{
    font-size : 20px;
}

#Father > div > input{
    font-size: 17px;
    border-color : black;
    color: gainsboro;
    background-color: #033555;
}

button{
    display : block; /*ALLOWS BEHAVIOUR LIKE STACKPANEL*/
    margin-top: 20px;
    border-radius: 10px;
    height: 35px;
    width: 120px;
    border: none;
    color: black;
}

button:hover{
    cursor: pointer;
    background-color: white;
}

button:visited{
    border : none;
}

div{
    padding: 5px; 
}
